.App{
  display: flex;
  flex-direction: column;
}

#header-main-div{
  height: 110px;
  box-shadow: 0 4px 2px -2px rgb(224, 224, 224);
}

#header-main-section{
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

#nav-bar{
  display: flex;
  justify-content: space-between;
  margin-right: 0px;
  width: 80vw;
  margin-top: 40px;
}

#search-bar{
  margin-top: 15px;
  width: 700px;
}

#site-main-header{
  margin-top: 43px;
  margin-left: 30px;
}

#header-account-buttons-div{
  display: flex;
  justify-content: space-evenly ;
  width: 200px;
  margin-left: 0px;
}